
<div class="row">
    <div class="col-sm-6 col-centered">
    <h2>New user</h2>
<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :create) %>
     </div>
</div>
<div class="row">
    <div class="col-sm-6 col-centered">
        <%= link "Back", to: user_path(@conn, :index), class: "btn btn-info btn-default" %>
     </div>
</div>