<div class="jumbotron">
    <h2>test.exs</h2>
    <%= if @current_user do %>
        <div id="client-app-container"></div>
        <script src="<%= static_path(@conn, "/js/main.js") %>" async></script>
    <% else %>
        <p><a href="<%= session_path(@conn, :login_page) %>">Sign in</a>
        <p><a href="<%= page_path(@conn, :signup) %>">Register</a>
    <% end %>
</div>
